<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:property name="PI" value="3.14159274"/>

    <!-- Import panda urdf file -->
    <!-- <xacro:include filename="$(find panda_description)/urdf/panda.urdf" /> -->
    <xacro:include filename="$(find panda_description)/urdf/panda_description.xacro" />
    <!-- <xacro:include filename="$(find panda_description)/urdf/panda_description_gazebo.xacro" /> -->
      <xacro:include filename="$(find panda_description)/urdf/camera/camera.xacro"/>

    <!-- Camera -->
    <xacro:camera_v0 parent="panda_link0">
	    <origin xyz="0.2 0.6 0.7" rpy="0 ${PI/2} 0"/>
    </xacro:camera_v0>
    <!-- <xacro:camera_gazebo_v0/> -->

    <!-- controllers for gazebo -->
    <!-- <xacro:include filename="panda.gazebo_ros2_control.xacro" />  -->
    <!-- <xacro:panda_gazebo_ros2_control initial_positions_file="$(arg initial_positions_file)"/>  -->
    <xacro:include filename="panda_ros2_control.xacro" />  
    <xacro:panda_ros2_control initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

    <!-- There were no gazebo files in the original file-->
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters> $(find panda_gazebo)/config/ros2_controllers.yaml </parameters>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>

      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </gazebo>
  
</robot>
